#define ZMK_POINTING_DEFAULT_MOVE_VAL 1200  // 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 25   // 10

#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

&mmv_input_listener { input-processors = <&zip_xy_scaler 2 1>; };

&msc_input_listener { input-processors = <&zip_scroll_scaler 2 1>; };

&msc {
    acceleration-exponent = <1>;      // 0
    time-to-max-speed-ms = <100>;       // 300
    delay-ms = <0>;                   // 0
};

&mmv {
    time-to-max-speed-ms = <500>;
    acceleration-exponent = <1>;
    trigger-period-ms = <16>;
};

/ {
    scroll_encoder: scroll_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;

        tap-ms = <100>;
    };

    MT_modifier: ModTap {
        compatible = "zmk,behavior-hold-tap";
        label = "MT_MODIFIER";
        bindings = <&kp>, <&kp>;

        #binding-cells = <2>;
        tapping-term-ms = <70>;
        flavor = "tap-preferred";
        hold-trigger-key-positions = <43 42 41 47 49 48>;
        retro-tap;
    };

    LT_Tap_Preferred: on_LT {
        compatible = "zmk,behavior-hold-tap";
        label = "LT_Tap_Preferred";
        bindings = <&lt>, <&kp>;

        #binding-cells = <2>;
        tapping-term-ms = <70>;
        retro-tap;
        flavor = "tap-preferred";
        hold-trigger-key-positions = <40 50 37 38 51 26 39 57 59 27>;
    };

    behaviors {
    };

    keymap {
        compatible = "zmk,keymap";

        layer0 {
            bindings = <
&kp ESC           &kp N1                 &kp N2                   &kp N3                 &kp N4                &kp N5    &kp UP_ARROW     &kp N6  &kp N7                &kp N8                          &kp N9                         &kp N0                      &kp DELETE
&kp TAB           &kp Q                  &kp W                    &kp E                  &kp R                 &kp T     &kp DOWN_ARROW   &kp Y   &kp U                 &kp I                           &kp O                          &kp P                       &kp BSLH
&kp LEFT_CONTROL  &kp A                  &kp S                    &kp D                  &kp F                 &kp G     &kp LEFT_ARROW   &kp H   &kp J                 &kp K                           &kp L                          &kp COMMA                   &kp GRAVE
&kp LSHFT         &LT_Tap_Preferred 3 Z  &MT_modifier LEFT_ALT X  &MT_modifier LSHIFT C  &MT_modifier LCTRL V  &kp B     &kp RIGHT_ARROW  &kp N   &MT_modifier RCTRL M  &MT_modifier RIGHT_SHIFT COMMA  &MT_modifier RIGHT_ALT PERIOD  &LT_Tap_Preferred 3 PERIOD  &trans
&kp C_MUTE        &kp SPACE              &kp DEL                  &kp TAB                &kp SPACE             &mo 1     &kp DELETE       &trans  &kp ENTER             &kp BACKSPACE                   &kp RIGHT_GUI                  &kp RIGHT_CONTROL
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOL_DN>;
            display-name = "LAYER0";
            label = "base";
        };

        layer_1 {
            bindings = <
&kp F11     &kp F1         &kp F2            &kp F3                &kp F4                 &kp F5              &mmv MOVE_UP     &kp F6       &kp F7           &kp F8      &kp F9       &kp F10           &kp F12
&trans      &trans         &trans            &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp SINGLE_QUOTE    &mmv MOVE_DOWN   &kp SLASH    &kp ASTERISK     &kp CARET   &kp GRAVE    &kp MINUS         &kp EQUAL
&trans      &kp LESS_THAN  &kp GREATER_THAN  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp SEMICOLON       &mmv MOVE_LEFT   &kp PERCENT  &kp EQUAL        &kp PLUS    &kp MINUS    &kp LEFT_BRACKET  &kp RIGHT_BRACKET
&trans      &kp EXCL       &kp QUESTION      &kp AMPERSAND         &kp BACKSLASH          &kp LEFT_SHIFT      &mmv MOVE_RIGHT  &kp HASH     &kp AT           &kp DOLLAR  &kp INT_YEN  &kp F12           &trans
&kp C_MUTE  &trans         &trans            &trans                &trans                 &trans              &mkp LCLK        &trans       &kp RIGHT_SHIFT  &trans      &trans       &trans
            >;

            display-name = "layer1";
            sensor-bindings = <&scroll_encoder>;
        };

        layer_2 {
            bindings = <
&kp F11  &kp F1        &kp F2        &kp F3        &kp F4        &kp F5          &mmv MOVE_UP     &kp F6        &kp F7        &kp F8        &kp F9        &kp F10       &kp F12
&trans   &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp NUMBER_5    &mmv MOVE_DOWN   &kp NUMBER_6  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp NUMBER_0  &trans
&trans   &trans        &trans        &trans        &trans        &trans          &mmv MOVE_LEFT   &trans        &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &trans        &trans
&trans   &trans        &trans        &bootloader   &trans        &trans          &mmv MOVE_RIGHT  &trans        &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_0  &trans
&trans   &trans        &trans        &trans        &trans        &trans          &mkp LCLK        &trans        &trans        &trans        &trans        &trans
            >;

            sensor-bindings = <&scroll_encoder>;
        };

        layer_3 {
            bindings = <
&trans  &trans   &trans          &trans          &trans           &trans      &trans  &trans    &trans          &trans           &trans           &trans   &trans
&trans  &trans   &kp PAGE_DOWN   &kp UP_ARROW    &kp PAGE_UP      &trans      &trans  &trans    &kp PAGE_UP     &kp UP_ARROW     &kp PAGE_DOWN    &trans   &trans
&trans  &kp END  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &kp HOME    &trans  &kp HOME  &kp LEFT_ARROW  &kp DOWN_ARROW   &kp RIGHT_ARROW  &kp END  &trans
&trans  &trans   &trans          &trans          &trans           &trans      &trans  &trans    &trans          &trans           &trans           &trans   &trans
&trans  &trans   &trans          &kp LEFT_SHIFT  &kp RCTRL        &trans      &trans  &trans    &kp RCTRL       &kp RIGHT_SHIFT  &trans           &trans
            >;
        };
    };
};
